@import 'tailwindcss';

@theme {
  --color-primary: #28e98c;
  --color-secondary: #000000;
  --color-tertiary: #575757;
  --color-icons: #999;
  --color-bg: #202020;
  --color-text: #ffffff;

  --font-sans:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #28e98c;
  border-radius: 10px;
}

scrollbar {
  width: 8px;
}

scrollbar-track {
  background-color: #202020;
}

scrollbar-thumb {
  background-color: #28e98c;
  border-radius: 10px;
}
